fastapi
uvicorn
pandas
numpy
nltk
sentence-transformers
transformers
torch
bitsandbytes
langchain
langchain-community
faiss-cpu
huggingface-hub
streamlit
accelerate
requests
torch
python-dotenv
pydantic

